# ignore data
data/
# ignore model
results_model/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
ENV/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Python package files
*.egg
*.egg-info/
dist/
build/
eggs/
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files (macOS, Windows, Linux)
.DS_Store
Thumbs.db
desktop.ini

# PyTorch model files (customize if necessary)
*.pt
*.pth
*.ckpt

# TensorBoard logs and other experiment results
logs/
events.out.tfevents.*

# Datasets (if stored locally)
data/
datasets/
*.csv
*.tsv

# Cached files and large intermediate files (e.g., dataset caches)
__pycache__/
*.cache
*.pkl
*.joblib
*.h5
*.npz
*.
